#profile {
  #pcontainer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    #video-history {
      flex-grow: 1;
      margin: 1%;
      margin-top: 0%;
    }

    #username-editor {
      flex-grow: 2;
      max-width: 20vw;
      margin: 1%;
      margin-top: 0%;
    }

    .quick-links-profile {
      align-self: flex-start;
    }

    .quick-links-title-profile {
      color: blue;
      text-align: center;
    }
  }
}

#video-history {
  .posted {
    color: rgb(255, 99, 132);
  }
  .taken-notes-on {
    color: rgb(54, 162, 235);
  }
}
