.flex-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.heading {
  color: #0047ff;
  font-family: "Lato", sans-serif;
  font-size: 3.7rem;
  margin-bottom: 20px;
}

.instructions {
  font-weight: 500;
  font-size: 1.45rem;
}

.video-section {
  display: flex;
  // align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.card-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.form-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 3%;
}

.link-radio {
  width: 60px;
}
.youtube-link {
  margin-bottom: 20px;
  margin-right: 5px;
}

.or-text {
  margin-left: 40px;
  margin-top: 0;
  margin-right: 40px;
  font-family: "Lato", sans-serif;
  font-size: 2.3rem;
  width: 10%;
}


.label-text {
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  margin-top: 2%;
}

.upload-icon {
  cursor: pointer;
  margin-left: 30px;
  margin-bottom: 20px;
}

.input-container {
  width: 100%;
  flex-grow: 1;
}

.title-section {
  display: flex;
  align-items: center;

  .video-title {
  }

  .upload-button {
    margin-left: 50px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    color: #121212;
    font-family: "Oswald", sans-serif;
    font-size: 1.8rem;
    padding: 10px;
    background-color: #99ffaf;
    -webkit-box-shadow: 1px 1px 9px 0 #c7c7c7;
    -moz-box-shadow: 1px 1px 9px 0 #c7c7c7;
    box-shadow: 1px 1px 9px 0 #c7c7c7;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    border-width: 0.2px;
  }

  .upload-button:hover {
    border: solid #99c624 1px;
    background: #99ffaf;
    background-image: -webkit-linear-gradient(top, #99ffaf, #3df69f);
    background-image: -moz-linear-gradient(top, #99ffaf, #3df69f);
    background-image: -ms-linear-gradient(top, #99ffaf, #3df69f);
    background-image: -o-linear-gradient(top, #99ffaf, #3df69f);
    background-image: -webkit-gradient(to bottom, #99ffaf, #3df69f);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    text-decoration: none;
  }
}
