@mixin Inter() {
  font-family: "Inter";
}

@mixin Nunito() {
  font-family: "Nunito";
}

.width-100 {
  width: 100%;
}

.profile-info {
  float: right;
  padding: 5px;
  color: rgba(0, 0, 21, 0.5);
  cursor: pointer;

  .userId {
    @include Nunito();
    color: black;
    font-weight: 700;
    font-size: 1rem;
  }

  .balance {
    color: black;
    font-weight: 700;
    font-size: 1rem;
  }
}

.contract-book-icon {
  margin-left: 1vw;
}

.layout {
  width: 75vw;
  margin: auto;
}

.layout-100 {
  width: 100vw;
  margin: auto;
}

.logo {
  height: 2.75vh;
  margin-right: 20px;
}

.ReactModal__Content {
  position: unset !important;
  inset: unset !important;
  width: 30vw;
  min-width: 300px;
  margin: auto;
  padding: 0 !important;
  float: right;
}

.ReactModal__Overlay {
  display: flex;
}

.modal-body-btn-right {
  float: right;
}

.modal-save-btn {
  float: right;
}

.pointer {
  cursor: pointer;
}

.error {
  color: red;
  margin-top: 0.5rem;
}

.justify-content {
  text-align: justify;
}

.ReactModal__Overlay--after-open {
  z-index: 10;
}

.version {
  margin-left: 0.5vw !important;
}

.link {
  color: blue;
}

.login.modal-header {
  @include Inter();
}

.login-btn {
  @include Inter();
}

.login.modal-body {
  @include Nunito();
}

.header {
  .c-header-nav-link {
    @include Inter();
    font-weight: 700;
    font-size: 1rem;
  }
}

#profile {
  .title {
    @include Inter();
    font-weight: 700;
  }

  .description {
    @include Nunito();
  }
}

#username-section {
  min-width: 154px;
}

.history-title {
  @include Inter();
  font-weight: 600;
}

.c-header .c-header-nav .c-header-nav-link, .c-header .c-header-nav .c-header-nav-btn {
  color: black;
}