@mixin Inter() {
  font-family: "Inter";
}

@mixin Nunito() {
  font-family: "Nunito";
}

.about {
  .title {
    margin-bottom: 20px;
    @include Inter();
    font-weight: 700;
    margin-left: 15px;
  }

  .description {
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 40px;
  }

  .c-callout {
    font-weight: 500;
  }

  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 90vw;
  }

  .info {
    display: flex;
    flex-direction: column;
    margin-right: 10vw;
  }

  .description, .feature {
    @include Nunito();
  }

  .feature {
    font-weight: 600;
  }

  .logo-large {
    height: 20vh;
  }
}
