.about {
  .title {
    margin-bottom: 20px;
    font-weight: bolder;
  }

  .description {
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 40px;
  }

  .c-callout {
    font-weight: 500;
  }

  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 90vw;
  }

  .info {
    display: flex;
    flex-direction: column;
    margin-right: 10vw;
  }

  .logo-large {
    height: 20vh;
  }
}
