.about {
    .title {
        margin-bottom: 20px;
        font-weight: bolder;
    }
    .description {
        font-size: 1.2rem;
        font-weight: 400;
        margin-bottom: 40px;
    }

    .c-callout {
        font-weight: 500;
    }

}